<% if @challenges.empty? %>
  <p>Nenhum desafio disponível no momento</p>
<% else %>
  <% @challenges.each do |challenge| %>
    <h3><%= challenge.title %></h3>
    <p><%= challenge.description %></p>
  <% end %>
<% end %>